.table-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-header div{
    text-align: center;
}

.table-row:first-child {
    border-top: 1px solid gray;
}

.table-row {
    border-bottom: 1px solid gray;
    height: 2em;
}

.table-row .text-cell {
    text-align: center;
}
.actions {
    text-align: right
}

.actions i {
    margin-left: 10px;
    margin-top: 4px
}